
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="container" style="text-align: center;"><br><br><br><br>
  <br>
  <a class="btn btn-info ml-4" routerLink="/display1">Display 1</a>
  <a class="btn btn-primary  ml-4 " routerLink="/display2">Display 2</a>
</div>
<div>
  <router-outlet></router-outlet>
</div>

  